<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chartMapper">

    <resultMap id="chartResultSet" type="Chart">
        <result column="PAY_DATE" property="payDate" />
        <result column="PRICE" property="price" />
        <result column="MENU_NAME" property="menuName" />
        <result column="COUNT" property="count" />
    </resultMap>
    
    <select id="loadChart" resultMap="chartResultSet" parameterType="hashmap">
        SELECT PAY_DATE, SUM(PRICE) PRICE
		FROM PAY
		GROUP BY PAY_DATE
		HAVING PAY_DATE BETWEEN #{startDay} AND #{endDay}
		ORDER BY PAY_DATE
    </select>
    
    <select id="loadMenuChart" resultMap="chartResultSet" parameterType="hashmap">
        SELECT MENU_NAME, COUNT(MENU_NAME) COUNT
		FROM RECEIPT_MENU
		JOIN MENU USING(MENU_NO)
		JOIN RECEIPT USING (RECEIPT_NO)
		JOIN PAY USING(PAY_NO)
		JOIN CATEGORY USING(CATEGORY_NO)
		WHERE PAY_DATE BETWEEN #{startDay} AND #{endDay} AND PR_CATEGORY_NO = #{prCateNo}
		GROUP BY MENU_NAME
    </select>
    
    <resultMap id="categoryResultMap" type="Category">
        <result column="CATEGORY_NO" property="categoryNo" />
        <result column="CATEGORY_NAME" property="categoryName" />
        <result column="PR_CATEGORY_NO" property="prCategoryNo" />
    </resultMap>
    
    <select id="selectCategory" resultMap="categoryResultMap">
    	SELECT *
		FROM CATEGORY
		WHERE PR_CATEGORY_NO IS NULL
    </select>
    
    
</mapper>